<!---Project 02 - Volcanoes
Brett Brandom, Joshua Bui, Caitlyn Ta -->
<!-- Summary -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Volcanoes | Graphs</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS  -->
    <!-- REFERENCE: https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://bootswatch.com/4/darkly/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--D3-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
    <!--LaTeX-->
    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>

<!-- Nav bar & Drop down menu -->
  <font size=3>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/scrape">Volcanoes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Summary</a>
        <div class="dropdown-menu dropdown-menu-right" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="/process">Process</a>
          <a class="dropdown-item" href="/climate">Climate</a>
          <a class="dropdown-item" href="/eruption_map">Maps</a>
          <a class="dropdown-item" href="/risk_assessment">Risk Assessment</a>
          <a class="dropdown-item" href="/references">References</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/scrape">Home</a>
        </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/process">Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/climate">Climate</a>
        <li class="nav-item">
          <a class="nav-link" href="/eruption_map">Maps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/risk_assessment">Risk Assessment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/references">References</a>
        </li>
      </ul>
    </div>
  </nav>


    <!-- REFERENCES -->
    <div class="jumbotron">
      <h1 class="display-3">References</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p></p>
      <p class="lead">
    </div>

    <p style="margin-top: 2.5em"></p>
    

<div>
    <!-- Insert your Copyright Info here -->
    <h1></h1>
    <br>
    <div class = "container" >
      <ol>
        <li>
          <b>Global Volcanism Program | Database Search, volcano.si.edu/search_volcano.cfm.
        </li>
        <li>
          <b>“Home.” Berkeley Earth, berkeleyearth.org/.
        </li>
        <li>
          <b>"Interactive HTML5 and JavaScript Maps for Websites." Simplemaps. N.p., n.d. Web.
        </li>
        <li>
          <b>National Geophysical Data Center. “Volcanic Data and Information.” Volcanic Data and Information | NCEI, U.S. Department of Commerce, 28 July 2006, www.ngdc.noaa.gov/hazard/volcano.shtml. 
        </li>
      </ol>
    </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>