<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Earthquakes</title>

  <!-- D3.js --> 
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  
  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class ='container' id="map"></div>
  <!-- Include this library for mobile touch support  -->
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script> -->
  
  <script type="text/javascript">
    // Define map layers
    var apikey = "pk.eyJ1Ijoiam9zaGJvb3lhIiwiYSI6ImNqZTZoeXVmczAwajcycXA4azd4ZjA4NHgifQ.AnTkhOwUFAP8ixRUKFqOmw";
    var satellite = L.tileLayer("https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token="
        +apikey);
        // outdoor = L.tileLayer("https://api.mapbox.com/styles/v1/mapbox/outdoors-v9/tiles/256/{z}/{x}/{y}?access_token="
        // +apikey),
        // streets = L.tileLayer("https://api.mapbox.com/styles/v1/mapbox/streets-v9/tiles/256/{z}/{x}/{y}?access_token="
        // +apikey),
        // dark = L.tileLayer("https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token="
        // +apikey),
        // light = L.tileLayer("https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token="
        // +apikey);
    
    //// Adding colors to data/legend
    function getColor(d) {
      return(d > 8.0) ? '#800026': //	Class: Great
        (d > 7.0) ? '#bd0026': // Class: Major
        (d > 6.0) ? '#e31a1c': // Class: Strong
        (d > 5.0) ? '#fc4e2a': // Class: Moderate
        (d > 4.0) ? '#fd8d3c': // Class: Light
        (d > 3.0) ? '#feb24c': // Class: Minor
        (d > 2.0) ? '#fed976': // Class: Minor
        (d > 1.0) ? '#ffeda0': // Class: Minor
        '#ffffcc'; // Class: Micro
    }
    
    function getNum(d) {
      if ( ( isNaN(d) ) ) {
        return 0.1;
      } else {
        return d;
      }
    }

    function getMonth(d) {
      if ( ( isNaN(d) ) ) {
        return 0;
      } else {
        return d;
      }
    }

    function getDay(d) {
      if ( isNaN(d) ) {
        return 1;
      } else {
        return d;
      }
    }

    //// Sourcing Earthquake Data
    // var url = "https://earthquake.usgs.gov/volcano/feed/v1.0/summary/all_month.geojson";
    var url = `database/eruptions`;
      d3.json(url, function(error, data) {

        if (error) return console.warn(error);

        console.log("data:", data);
      // color reference http://colorbrewer2.org/#type=sequential&scheme=YlOrRd&n=6
      // Returning Ternary Statements
      // Break down of colors paramenters from http://www.geo.mtu.edu/UPSeis/magnitude.html
      
      //// Adding Earthquake Data 
        var latlngArray = [];
        var veiArray = []; //true vei number for pop up info
        var placeArray = [];
        var timeArray = [];
        var volcanoMarker = [];
        var vei_radii = []; // this is the radii value to address NaN values
        var nameArray = [];
      
        for (var i = 0; i < data.length; i++) {
          var volcanoData = data[i];
      
          var lat = volcanoData.latitude;
          var lng = volcanoData.longitude;
          var vei = volcanoData.vei;
          var place = volcanoData.country;
          var name = volcanoData.volcano_name;
          var utcTime = new Date(volcanoData.start_year, 
          getMonth(volcanoData.start_month), getDay(volcanoData.start_day));
          var strUTCtime = utcTime.toDateString()
          
          // console.log("utcTime", strUTCtime)
          // Latitude is in the range -90 (S) and +90 (N)
          // Longitude is in the range -180 (W) and +180 (E)
          if (location, vei, place, strUTCtime) {
            latlngArray.push([lat, lng]);
            nameArray.push(name);
            veiArray.push(vei);
            vei_radii.push(getNum(vei)+1)
            placeArray.push(place);
            timeArray.push(strUTCtime);
          }
        }
      
      var n = data.length; // sample size to assess
      for (var j = 0; j < n; j++) {
        volcanoMarker.push(
          L
          .circleMarker(latlngArray[j], {
            fillOpacity: 0.25,
            color: getColor(vei_radii[j]),
            fillColor: getColor(vei_radii[j]),
            // Setting our circle's radius equal to the output of our markerSize function
            // This will make our marker's size proportionate to its population
            radius: (1.5 ** vei_radii[j]),
            time: (timeArray[j])      
          })
          .bindPopup("<div class='popup_info'>" + nameArray[j] + 
            "<hr>VEI: " + veiArray[j] + "<br>Country: " + placeArray[j] +
            "</div>")
          .on('mouseover', function (e) {
            this.openPopup();
          })
          .on('mouseout', function (e) {
            this.closePopup();
          })
        );
      }
      
      var volcanoes = L.layerGroup(volcanoMarker);
      
      //// Legend Control
      var legend = L.control({position: 'bottomright'});
      
      legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend'),
            veiBin = [0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0],
            labels = [', Effusive',', Gentle',', Explosive',
              ', Catastrophic',', Cataclysmic',', Paroxysmic',
              ', Colossal',', Super-colossal',', Mega-colossal'];
      
        div.innerHTML += '<b>Volcanic <br> Eruptions & VEI</b><hr>'  // don't forget the break tag
      
        // loop through our density intervals and generate a label with a colored square for each interval
        for (var i = 0; i < veiBin.length; i++) {
            div.innerHTML += 
                '<i style="background:' + getColor(veiBin[i] + 1) + ' "></i> ' +
                veiBin[i] + (veiBin[i + 1] ? '&ndash;' + veiBin[i + 1] + labels[i] + '<br>' : labels[i]) ;
        }
        return div;
      };
      
      //////////////////////////////////////////////////////////////////////
      var source = "https://raw.githubusercontent.com/joshbooya/tectonicplates/master/GeoJSON/PB2002_plates.json";
      
      d3.json(source, function(data) {
      
      function getStyle(feature) {
        return {
            weight: 3,
            opacity: 0.25,
            color: 'crimson',
            dashArray: '5',
            fillOpacity: 0,
            fillColor: ''
        };
      }
      
      function highlightFeature(e) {
          var layer = e.target;
      
          layer.setStyle({
              weight: 8,
              opacity: 1,
              color: 'white',
              dashArray: '1',
              fillOpacity: 0
          });
      
          if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
              layer.bringToFront();
          }
          info.update(layer.feature.properties);
      }
      
      function resetHighlight(e) {
        plates.resetStyle(e.target);
        info.update();
      }
      
      // function zoomToFeature(e) {
      //     map.fitBounds(e.target.getBounds());
      // }
      
      function onEachFeature(feature, layer) {
          layer.on({
              mouseover: highlightFeature,
              mouseout: resetHighlight,
              // click: zoomToFeature
          });
      }
      
      //// Plate info
      var info = L.control({position: 'bottomleft'});
      
      info.onAdd = function (map) {
          this._div = L.DomUtil.create('div', 'plate_info'); // create a div with a class "info"
          this.update();
          return this._div;
      };
      
      // method that we will use to update the control based on feature properties passed
      info.update = function (props) {
          this._div.innerHTML = (props ? props.PlateName + ' Plate': 'Hover over a plate');
      };
      
      var plates = L.geoJson(data, {
          style: getStyle
          , onEachFeature: onEachFeature   
      });
      
      var cntr = [9, 9]; // nigeria  
      // var cntr = [36.00, -78.93]; // bermunda triangle
      
      //// Adding Map Layout
      var myMap = L.map('map', {
        center: cntr, // [ Lat, Lng] // Unites must be in DECIMAL COORDINATES
        zoom: 2, // 3.3 to see the world
        layers: [satellite, volcanoes] //, plates] // default views
      });
      
      var baseMaps = {
        "Satellite": satellite,
        // "Outdoor": outdoor, "Dark": dark, "Light": light
      };
      
      var overlayMaps = {
        "Volcanoes": volcanoes, 
        "Plate Tectonics": plates
      };
      
      // Adding slider for earthquake data
      var sliderControl = 
        L.control.sliderControl({
          position: "bottomright", 
          layer: volcanoes, 
          follow: 10});
      myMap.addControl(sliderControl);
      sliderControl.startSlider();
      
      var imperial_scale = L.control.scale({position: 'bottomleft'})
      // Add to map
      L.control.layers(baseMaps, overlayMaps, {
        }).addTo(myMap);
      imperial_scale.addTo(myMap);
      legend.addTo(myMap);
      info.addTo(myMap);
      });
    });
    </script>
</body>
</html>